# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.vs
SimpleGame/SimpleGame/x64/Debug/vc141.idb
SimpleGame/SimpleGame/x64/Debug/vc141.pdb
SimpleGame/x64/Debug/SimpleGame.ilk
SimpleGame/x64/Debug/SimpleGame.pdb
